.text-container {
  width: 100%;
  text-align: left;
  margin: 4px 0 0 0;
  background: none;
  padding-bottom: 1.5vw;
}

.item-description-text {
  padding: 2px 5px;
  line-height: 1.6;
  font-size: 1.6rem;
}

.product-title {
  width: 45%;
  font-weight: 900;
  text-align: left;
  font-size: 3.7rem;
  margin-top: 13vw;
}

.image-wrapper {
  position: absolute;
  width: 45vw;
  height: 58vw;
  top: -5vw;
  left: 0;
  background: url("https://www.beatsbydre.com/content/dam/beats/web/pdp/beats-solo3-wireless/hero_tablet/352_BLACK_INTRO_TABLET_retina_V2.png") no-repeat left 0 top 0;
  background-size: 45vw;
}
