html,
body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: white;
  position: relative;
  font-weight: 100;
}

.my-page {
  margin: 0 auto;
}

.my-page h1 {
  text-align: center;
}

.my-container {
  margin: 0 auto;
  width: 50%;
}

.text-container {
  width: 100%;
  align-content: center;
  margin: 4px 0 0 0;
  background: none;
  border: 1px solid #cef2e0;
}

.item-description-text {
  background-color: #F5FFFA;
  padding: 2px 5px;
  line-height: 1.6;
}

.my-label {
  font-weight: 100;
  text-align: left !important;
}

.backoffice-btn {
  opacity: 0.5;
  position: absolute;
  right: 0;
  bottom: 0;
}

.backoffice-btn:hover {
  opacity: 1;
}

.row-number {
  font-weight: bold;
}

.first-last-name-capitalize::first-letter {
  text-transform: capitalize;
}

